@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Proyecto de FCT IES Galileo (Valladolid)</p>
<p>LUA pretende ser una plataforma WEB para la creación, edición y visualización de cualquier tipo de Curso, totalmente gratis.</p>
<p>Las herramientas utilizadas son:</p>
<ul>
    <li>Asp.net MVC</li>
    <li>Entity Framework</li>
    <li>Bootstrap</li>
    <li>Modernizr</li>
    <li>AutoMapper</li>
    <li>SQL Server</li>
    <li>Windows Server</li>
</ul>